<td><%= model.event_taxon&.name %></td>
<td>
  <%= link_to({ action: 'show', id: model.id }, class: 'is-several') do %>
    <%= image_tag model.logo, class: 'image is-32x32' if model.logo.attached? %>
    <span><%= model.name %></span>
  <% end %>
</td>
<td><%= model.members_count %></td>
<td><%# model.price %></td>
<td>
  <p><%= model.repeat_type_i18n %></p>
  <p><%= model.repeat_days %></p>
</td>
<td>
  <%= link_to t('model.admin.event_participants.index.title'), { controller: 'event_participants', event_id: model.id }, class: 'button is-small is-borderless' %>
  <%= link_to({ controller: 'event_items', event_id: model.id }, aria: { label: '课程内容' }, class: 'button is-small is-borderless') do %>
    <i class="fa-solid fa-list"></i>
  <% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'edit_plan', id: model.id }, aria: { label: t('.edit_plan.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-calendar text-primary"></i>
    <% end %>
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'circle-info', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.confirm'), turbo_scroll: true } }) do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
</td>